h1{
    color: #0B132A;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    line-height: 4.3rem;
}

span{
    color: #0B132A;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.left-side-button{
    flex-shrink: 0;
    border-radius: 10px;
    background: #F53838;
    color: white;
}


